<form name="frmOperador">
<div>
    <div ng-if="mensagem != ''" class="alert alert-danger" role="alert">
	  {{mensagem}}
	</div>
	<br><br>
	<div class="container">
		<div class="row">
			<div class="form-group col-md-12 row">
				<label
					class="col-md-4 col-form-label text-md-right">Nome Operador</label>
				<div class="col-md-6">
					<input type="text" ng-model="operador.nome" ng-pattern="/^[a-zA-Z]*$/" class="form-control" name="txtNome" ng-maxlength="100" required>
					<span style="color:red" ng-show="frmOperador.txtNome.$error.required && frmOperador.txtNome.$dirty">Campo Nome Obrigatorio</span>
					<span style="color:red" ng-show="frmOperador.txtNome.$error.maxlength">O nome so pode conter 100 caracteres</span>
					<span style="color:red" ng-show="frmOperador.txtNome.$error.pattern">Campo nome deve conter somente letras</span>
				</div>
			</div>
			<div class="form-group col-md-12 row">
				<label
					class="col-md-4 col-form-label text-md-right">Login</label>
				<div class="col-md-6">
					<input  type="text" name="txtLogin" ng-model="operador.usuario.login" ng-pattern="/^[a-zA-Z]*$/" class="form-control" ng-maxlength="15" required>
					<span style="color:red" ng-show="frmOperador.txtLogin.$error.required && frmOperador.txtLogin.$dirty">Campo Login Obrigatorio</span>
					<span style="color:red" ng-show="frmOperador.txtLogin.$error.maxlength">O login so pode conter 15 caracteres</span>
					<span style="color:red" ng-show="frmOperador.txtLogin.$error.pattern">Campo Login deve conter somente letras</span>
				</div>
			</div>
			
			<div class="form-group col-md-12 row">
				<label
					class="col-md-4 col-form-label text-md-right">Senha</label>
				<div class="col-md-6">
					<input ng-maxlength="15" ng-minlength="6" type="password" ng-model="operador.usuario.senha" name="txtSenha" class="form-control" required>
					<span style="color:red" ng-show="frmOperador.txtSenha.$error.required && frmOperador.txtSenha.$dirty">Campo Senha Obrigatorio</span>
					<span style="color:red" ng-show="frmOperador.txtSenha.$error.maxlength">A senha so pode conter 15 caracteres</span>
					<span style="color:red" ng-show="frmOperador.txtSenha.$error.minlength">A senha precisa ter no minimo 6 caracteres</span>
				</div>
			</div>
			<div class="form-group col-md-12 row">
				<label
					class="col-md-4 col-form-label text-md-right">Confirme a Senha</label>
				<div class="col-md-6">
					<input ng-maxlength="15"  type="password" ng-model="confSenha" name="txtConfSenha" class="form-control" required>
					<span style="color:red" ng-show="frmOperador.txtConfSenha.$error.required && frmOperador.txtConfSenha.$dirty">Campo Senha Obrigatorio</span>
					<span style="color:red" ng-show="frmOperador.txtConfSenha.$error.maxlength">O campo senha so pode conter 15 caracteres</span>
					<span style="color:red" ng-show="confSenha != '' && confSenha != operador.usuario.senha">As senhas estao diferentes</span>
				</div>
			</div>
			<div class="form-group col-md-12 row">
				<label class="col-md-4  col-form-label text-md-right" for="exampleFormControlSelect1">Perfil</label>
				<div class="col-md-6">
					<select placeholder="Perfil do Operador" name="selectPerfil" ng-model="operador.perfil" class="form-control" required>
						<option ng-disabled="true">Perfil do Operador</option>
						<option>GERENTE</option>
						<option>ANALISTA</option>
					</select>
					<span style="color:red" ng-show="frmOperador.selectPerfil.$error.required && frmOperador.selectPerfil.$dirty">Campo Perfil Obrigatorio</span>
				</div>
			</div>
			<div class="form-group col-md-12 text-center">
				<button ng-click="adicionarOp()" type="submit" class="btn btn-primary" ng-disabled="frmOperador.$invalid">Cadastrar</button>
			</div>
		</div>
	</div>
</div>
</div>
</form>
<form name="frmAlterarOperador">
<div class="container">
	<div class="form-group row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Nome</th>
						<th scope="col">Perfil</th>
						<th scope="col">Login</th>
						<th scope="col">Data de Cadastro</th>
						<th scope="col"></th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="op in operadores | orderBy: 'id'">
						<td>{{op.id}}</td>
						<td>
							<label data-ng-if="!alterar">{{op.nome}}</label> 
							<input data-ng-if="alterar" type="text" ng-model="op.nome" ng-pattern="/^[a-zA-Z]*$/" class="form-control" name="txtAlteraNome" ng-maxlength="100" required></input>
							<span style="color:red" ng-show="frmAlterarOperador.txtAlteraNome.$error.required && frmAlterarOperador.txtAlteraNome.$dirty">Campo Nome Obrigatorio</span>
							<span style="color:red" ng-show="frmAlterarOperador.txtAlteraNome.$error.maxlength">O nome so pode conter 100 caracteres</span>
							<span style="color:red" ng-show="frmAlterarOperador.txtAlteraNome.$error.pattern">Campo nome deve conter somente letras</span>
						</td>

						<td>
							<select select data-ng-if="alterar" class="form-control" ng-model="op.perfil" id="">
								<option ng-disabled="true">Perfil do Operador</option>
								<option>GERENTE</option>
								<option>ANALISTA</option>
							</select>
							<span style="color:red" ng-show="frmAlterarOperador.selectAlteraPerfil.$error.required && frmAlterarOperador.selectAlteraPerfil.$dirty">Campo Perfil Obrigatorio</span>
							<label data-ng-if="!alterar">{{op.perfil}}</label>
						</td>

						<td>
							<label data-ng-if="!alterar">{{op.usuario.login}}</label>
							<input
								data-ng-if="alterar"type="text" name="txtAlteraLogin" ng-model="op.usuario.login" ng-pattern="/^[a-zA-Z]*$/" class="form-control" ng-maxlength="15" required>
							</input>
							<span style="color:red" ng-show="frmAlterarOperador.txtAlteraLogin.$error.required && frmAlterarOperador.txtAlteraLogin.$dirty">Campo Login Obrigatorio</span>
							<span style="color:red" ng-show="frmAlterarOperador.txtAlteraLogin.$error.maxlength">O login so pode conter 15 caracteres</span>
							<span style="color:red" ng-show="frmAlterarOperador.txtAlteraLogin.$error.pattern">Campo Login deve conter somente letras</span>
						</td>

						<td>{{geraData(op.data_cadastro)}}</td>
						<td><button class="btn btn-danger" ng-click="excluirOperador(op)">Excluir</button></td>
						<td><button class="btn btn-warning" ng-click="alterar = !alterar">Alterar</button></td>
						<td><button class="btn btn-primary" data-ng-if="alterar" ng-click="alterarOperador(op)" ng-disabled="frmAlterarOperador.$invalid">Salvar</button></td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>

</div>
</form>
