
  <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Login</div>
                    <div class="card-body">
                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right">Login</label>
                                <div class="col-md-6">
                                    <input ng-model="usuario.login" type="text" id="email_address" class="form-control" required autofocus>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Semha</label>
                                <div class="col-md-6">
                                    <input ng-model="usuario.senha" type="password" id="password" class="form-control"  required>
                                </div>
                            </div>
 
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" ng-click="autenticar()" class="btn btn-primary">
                                    Register
                                </button>
                            
                            </div>
                   		
                    	
                	</div>
            	</div>
        	</div>
    	</div>
	</div>
